{% extends 'base.html' %}

{% block content %}
<div class="lr-real-time">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form|linebreaks }}
		<button type="submit">Enter</button>
	</form>
</div>

<br>
<hr>
<br>
<br>

<div class="lr-real-time">

<textarea rows="10" cols="50" disabled>
CPU Percentage : {{ cpu_percentage }}
RAM Usage : {{ ram_usage }}
IO Usage : {{ io_usage }}
Network Usage : {{ network_usage }}
Test Time : {{ test_time }}
Anomaly Status : {{ anomaly_status }}
</textarea>

</div>

{% endblock %}
