{% extends 'base.html' %}

{% block content %}
<div id="rate_80-20_lr_test">
	<h2 class="lr"> The Test With %80 Train, %20 Test of data </h2>
	<table>
		<tr>
			<th>Prediction\Real</th>
			<th>TRUE</th>
			<th>FALSE</th>
		</tr>
		<tr>
			<th>TRUE</th>
			<th> {{ result_80_train_20_test_table_val_1 }} </th>
			<th> {{ result_80_train_20_test_table_val_2 }} </th>
		</tr>
		<tr>
			<th>FALSE</th>
			<th> {{ result_80_train_20_test_table_val_3 }} </th>
			<th> {{ result_80_train_20_test_table_val_4 }} </th>
		</tr>
	</table>
	<p class="lr"><i>Accuracy Rate : </i><b> {{ result_80_train_20_test_accuracy_rate }} </b></p>
	<p class="lr"><i>F-Score : </i><b> {{ result_80_train_20_test_f_score }} </b></p>
</div>

<br>
<hr/>
<br>

<div>
	<h2 class="lr"> The Test With 10-Fold Cross-Validation </h2>
	<table>
		<tr>
			<th> Prediction \ Real </th>
			<th> TRUE </th>
			<th> FALSE </th>
		</tr>
			<th> TRUE </th>
			<th> {{ result_10_fold_table_val_1 }} </th>
			<th> {{ result_10_fold_table_val_2 }} </th>
		<tr>
			<th> FALSE </th>
			<th> {{ result_10_fold_table_val_3 }} </th>
			<th> {{ result_10_fold_table_val_4 }} </th>
		</tr>
	</table>
	<p class="lr"><i>Accuracy Rate : </i><b> {{ result_10_fold_accuracy_rate }} </b></p>
	<p class="lr"><i>F-Score : </i><b> {{ result_10_fold_f_score }} </b></p>
</div>
{% endblock %}
