<!DOCTYPE html>

<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>The Labeling From User Input</title>

		<style>

		div{
			text-align: center;
		}

		form{

		}

		</style>

	</head>

	<body>

		{ % extends 'base.html' % }

		{ % block content % }
		<div id="user_input_file_seleciton">
			<form>
				CPU Percentage: <br>
				<input type="text" name="cpu_percentage" value=""><br>
				RAM Usage: <br>
				<input type="text" name="ram_usage" value=""><br>
				IO Usage: <br>
				<input type="text" name="io_usage" value=""><br>
				Network Usage: <br>
				<input type="text" name="network_usage" value=""><br>
				Worked File Link: <br>
				<input type="text" name="file_link" value=""><br>
				<input type="submit" value="Enter">
			</form>
		</div>

		{ % endblock % }

	</body>

</html>